
帳號
<div class="p-inputgroup">
  <span class="p-inputgroup-addon">
      <i class="pi pi-user"></i>
  </span>
  <input pInputText placeholder="Username" />
</div>

<br>

密碼
<span class="p-float-label">
  <p-password [(ngModel)]="password" [feedback]="false" [toggleMask]="true"></p-password>
  <label for="password">Password</label>
</span>

<br>


<p-button label="忘記密碼？" styleClass="p-button-link"></p-button>
<br>
<button pButton pRipple label="登入" class="p-button-success"></button>





<!-- <p-password [(ngModel)]="password" [toggleMask]="true"></p-password> -->


<!-- 密碼
<div class="p-inputgroup">
  <span class="p-inputgroup-addon">
      <i class="pi pi-user"></i>
  </span>
  <input pInputText placeholder="password" />
</div> -->


<!-- <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
  <p-panel header="Login Example">
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
          <div class="ui-grid-row">
              <div class="ui-grid-col-2">
                  Login:
              </div>
              <div class="ui-grid-col-6">
                  <input pInputText type="text" formControlName="login" class="form-control" name="login">
              </div>
              <div class="ui-grid-col-4">
                  <div [hidden]="loginForm.controls['login'].valid || !loginForm.controls['login'].dirty" class="alert alert-danger">
                      Login is required
                  </div>
              </div>
          </div>
          <div class="ui-grid-row">
              <div class="ui-grid-col-2">
                  Password:
              </div>
              <div class="ui-grid-col-6">
                  <input pInputText type="password" formControlName="password" class="form-control" name="password">
              </div>
              <div class="ui-grid-col-4">
                  <div [hidden]="loginForm.controls['password'].valid || !loginForm.controls['password'].dirty" class="alert alert-danger">
                      Password is required
                  </div>
              </div>
          </div>
          <div class="ui-grid-row">
              <div class="ui-grid-col-2"></div>
              <div class="ui-grid-col-6">
                  <button pButton type="submit" label="Submit" [disabled]="!loginForm.valid"></button>
              </div>
              <div class="ui-grid-col-4"></div>
          </div>
      </div>
  </p-panel>
</form> -->
