<html style="margin: 0px;">
<section class="layout" >
  <div>
    <pbutton class="pi pi-home ml-2"   style="font-size: 2.5rem"[routerLink]="['/home']" routerLinkActive="active" ></pbutton>
    <pbutton class="pi pi-user ml-2" style="font-size: 2.5rem" [routerLink]="['/home']" outerLinkActive="active"></pbutton>
    <pbutton class="pi pi-bell ml-2"   style="font-size: 2.5rem" routerLink="/home/breaking-news" routerLinkActive="active" ></pbutton>
    <pbutton class="pi pi-table ml-2"  style="font-size: 2.5rem" routerLink="/home/applications" routerLinkActive="active" ></pbutton>
    <div class="bg-surface-500">
      <pbutton class="pi pi-sign-out ml-2"  style="font-size: 2.5rem" [routerLink]="['']" ></pbutton>
    </div>
  </div>

</section>
</html>





