// :host ::ng-deep .button {
//   .button{

// }

.layout{
  display: flex;
  height: 100vh;
  width: 60px;
  background-color: #cfcfcf;
  align-items: flex-end;
  justify-content: center;
}











